.feedback-form-tr {
    border-top: 0;
    padding: 0 0 4px 0;
}

.feedback-form-container-table {
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent;
}

.feedback-form-cell {
    padding: 1px 2px 4px 0;
    vertical-align: bottom;
    background-color: transparent !important;
}

.feedback-form-container {
    width: 300px;
    position: fixed;
    bottom: 12px;
    right: 20px;
    z-index: 999;
    background-color: transparent;
    height: 100%;
    overflow-y: auto;
}

.feedback-form {
    width: 100%;
    background-color: white;
    box-shadow: 1px 2px 4px 0 rgba(66,66,66,.4);
    vertical-align: bottom;
}

.feedback-form-metadata {
    display: inline-block;
    font-family: Courier serif;
}

.feedback-form-question {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    margin-bottom: 0.2em;
    border-top: 0;
    padding: 0;
}

.feedback-form-intro-paragraph {
    font: normal 16px georgia, "times new roman", serif;
    color: white !important;
    background-color: #196C67;
    font-weight: bold;
    line-height: 101% !important;
    padding: 6px;
    margin: 0;
    text-align: left !important;
}

.feedback-form-social-media-paragraph{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0 6px 0 6px;
    margin: 0 !important;
}

.feedback-form-social-media {
    margin: 8px;
}

.feedback-form-social-media-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 0 6px 0 6px;
    vertical-align: middle !important;
    color: black;
    /*font-size: 24px !important;*/
    margin: 0 4px 0 4px;
}

.feedback-form-social-media-paragraph-cell{
    padding: 0 !important;
    border: 0 !important;
}

.feedback-form-social-media-logo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}


.feedback-form-social-media-logo-cell {
    padding: 0 !important;
    border: 0 !important;
    text-align: left;
    width: 100px !important;
}


.feedback-form-permission-table{
    box-shadow: none;
    padding: 0;
    border: 1px !important;
    width: 100%;
    margin-bottom: 0;
}

.feedback-form-permission-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    padding: 0 6px 0 6px;
    margin: 0;
    text-align: left !important;
    line-height: 101% !important;
}

.feedback-form-permission-text-cell {
    margin: 0;
    vertical-align: top;
    align-content: left;
    border: 0 !important;
    padding: 10px 10px 10px 4px !important;
}

.feedback-form-permission-checkbox {
    -webkit-appearance: checkbox;
}

.feedback-form-permission-checkbox-cell {
    vertical-align: top;
    align-content: right;
    border: 0 !important;
    padding: 10px 0 10px 10px !important;
}

.feedback-form-social-media-table {
    box-shadow: none;
    padding: 0;
    border: 1px !important;
    margin: 0;
    width: 100%
}

.feedback-form-question-text-cell {
    border-top: 3px solid #082f52 !important;
    background: #082f52 !important;
    text-align: left;
    padding: 0;
}

.feedback-form-question-text {
    color: white !important;
    text-align: left;
    margin: 0;
    padding: 0.2em;
    font: normal 14px georgia, "times new roman", serif;
    line-height: 101%;
}

.feedback-form-rating-star-off {
    text-align: center;
    color: lightgray;
    padding: 0;
    border-top: 0;
    cursor: pointer;
}

.feedback-form-rating-star-on {
    text-align: center;
    color: darkorange;
    padding: 0;
    border-top: 0;
    cursor: pointer;
}

.feedback-form-rating-number {
    text-align: center;
    padding: 0;
    border-top: 0;
    cursor: pointer;
}

.feedback-form-comments-table {
    box-shadow: none;
    padding: 0;
    border-top: 0;
    margin-bottom: 0;
}

.feedback-form-comments-cell {
    padding: 0;
    border-top: 0;
}

.feedback-form-comments-label {
    font-weight: normal;
    font-size: 12px !important;
    margin-right: 4px;
    width: 20%;
    vertical-align: top;
    border-top: 0 !important;
    padding: 0 8px 0 4px;
}

.feedback-form-comments-input-cell {
    border-top: 0;
    padding: 0 6px 0 0;
}

.feedback-form-comments-input {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    padding: 0;
    max-height: 6em;
    font-size: 12px;
}

.feedback-form-submit {
    text-align: center;
}

.feedback-form-button {
    background-color: #006c67;
    border: none;
    border-radius: 0;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.feedback-form-metadata {
    display: none;
}

.feedback-form-hidden {
    display: none;
}

.feedback-form-link {
    position: fixed;
    bottom: 15px;
    right: 95px;
    background-color: #427fe1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0.5px 1px 1px 1px #dbdbdb;
    border: 3px solid #fff;
    text-align: center;
    cursor: pointer;
    z-index: 998;
}

.feedback-form-link-flashing {
    position: fixed;
    bottom: 15px;
    right: 95px;
    background-color: #427fe1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0.5px 1px 1px 1px #dbdbdb;
    border: 3px solid #fff;
    text-align: center;
    cursor: pointer;
    z-index: 998;
    animation: feedback-form-link-flash-animation 1s ease-in-out infinite;
}

.feedback-form-link:hover {
    background-color: #3465b4;
}

.feedback-form-link-img {
    width: 35px;
    margin-top: 18px;
    margin-left: -2px;
}

@keyframes feedback-form-link-flash-animation {
    from {background-color: #427fe1;}
    to {background-color: #dd5d1c;}
}

.feedback-form-goodbye {
    position: fixed;
    bottom: 12px;
    background-color: white;
    box-shadow: 0.5px 1px 1px 1px #dbdbdb;
    /* border: 3px solid #fff; */
    /* border-radius: 12px; */
    padding: 0;
    z-index: 999;
    width: 295px;
    right: 20px;
}

.feedback-form-goodbye-close {
    color: white;
    background-color: #082f52;
    font-size: 18px;
    height: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    margin: 0;
    width: 100%;
}

.feedback-form-goodbye-close-cell {
    padding: 8px 8px 8px 0 !important;
    background-color: #082f52 !important;
    border: 0 !important;
}

.feedback-form-goodbye-table {
    width: 100%;
    border: 0 !important;
    background-color: #082f52;
    margin: 0 !important;
}

/*
.feedback-form-goodbye p {
    font-family: georgia, "times new roman", serif !important;
    color: white !important;
    font-size: 24px !important;
    margin: 0 4px 0 4px;
}
*/

.feedback-form-goodbye-title-row {
    background: #082f52 !important;
}

.feedback-form-goodbye-title-cell {
    font-family: georgia, "times new roman", serif !important;
    color: white !important;
    font-size: 24px !important;
    background: #082f52 !important;
    align-content: center;
    border: 0 !important;
    padding: 0 0 0 8px !important;
}

.feedback-form-goodbye-thank-you-language {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 0 6px 12px 6px;
    margin: 0 !important;
    vertical-align: middle !important;
    color: black !important;
}

.feedback-form-social-media-disclaimer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: left;
    padding: 6px 6px 12px 6px !important;
    margin: 0 !important;
    vertical-align: middle !important;
    color: black !important;
}

.feedback-form-goodbye-body-cell {
    padding: 0;
    border: 0;
    background-color: white;
}

.feedback-form-thankyou {
    margin: 0;
    font-family: georgia, "times new roman", serif !important;
    color: white !important;
    font-size: 24px !important;
    background-color: #082f52 !important;
}

.feedback-form-goodbye-language {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: left;
}

.feedback-form-goodbye-close {
    text-align: right;
}

.feedback-form-menu-item {
    color: #006c67;
    cursor:pointer;
}

.feedback-form-menu-item-flashing {
    color: #006c67;
    animation: feedback-form-menu-item-flash-animation 1s ease-in-out infinite;
    cursor:pointer;
}

@keyframes feedback-form-menu-item-flash-animation {
    0% {color: #006c67;}
    50% {color: #dd5d1c;}
    100% {color: #006c67;}
}

.feedback-form-running-man {
    position: fixed;
    right: 150px;
    bottom: 10px;
    z-index: 999;
    cursor: pointer;
}

.feedback-form-feedback-bubble {
    position: fixed;
    right: 90px;
    bottom: 60px;
    z-index: 1000;
    cursor: pointer;
    animation: feedback-form-running-man-flash-animation 1s ease-in-out infinite;
}

@keyframes feedback-form-running-man-flash-animation {
    0% {opacity: 0.5;}
    50% {opacity: 1.0;}
    100% {opacity: 0.5;}
}



